@charset "utf-8";
/* ///// common-sub ///// */

article#content { margin:0 auto; }

/* ///// h3 effect ///// */
.topbn h3 span {
    display: inline-block;
    text-shadow: 0 0 0 rgba(255,255,255,0.1);
    animation: h3-effect 1s ease-in both reverse;
}
.topbn h3 span:nth-child(even){
    animation-name: h3-effect-even;
}
.topbn h3 span:nth-child(1){ animation-delay:0.1s; }
.topbn h3 span:nth-child(2){ animation-delay:0.2s; }
.topbn h3 span:nth-child(3){ animation-delay:0.3s; }
.topbn h3 span:nth-child(4){ animation-delay:0.4s; }
.topbn h3 span:nth-child(5){ animation-delay:0.5s; }
.topbn h3 span:nth-child(6){ animation-delay:0.6s; }
.topbn h3 span:nth-child(7){ animation-delay:0.7s; }
.topbn h3 span:nth-child(8){ animation-delay:0.8s; }
.topbn h3 span:nth-child(9){ animation-delay:0.9s; }
.topbn h3 span:nth-child(10){ animation-delay:1.0s; }
.topbn h3 span:nth-child(11){ animation-delay:1.1s; }
.topbn h3 span:nth-child(12){ animation-delay:1.2s; }
.topbn h3 span:nth-child(13){ animation-delay:1.3s; }

.topbn h3 span:nth-child(14){ animation-delay:1.6s; }
.topbn h3 span:nth-child(15){ animation-delay:1.7s; }
.topbn h3 span:nth-child(16){ animation-delay:1.8s; }
.topbn h3 span:nth-child(17){ animation-delay:1.9s; }
.topbn h3 span:nth-child(18){ animation-delay:2.0s; }
.topbn h3 span:nth-child(19){ animation-delay:2.1s; }
.topbn h3 span:nth-child(20){ animation-delay:2.2s; }
.topbn h3 span:nth-child(21){ animation-delay:2.3s; }
.topbn h3 span:nth-child(22){ animation-delay:2.4s; }
.topbn h3 span:nth-child(23){ animation-delay:2.5s; }
.topbn h3 span:nth-child(24){ animation-delay:2.6s; }
@keyframes h3-effect {
    25% {
        text-shadow: 0 0 15px #fff;      
      }
    60% {
      text-shadow: 0 0 40px #fff;      
    }
    to {
      transform:        
        translate3d(240px,-128px,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 40px #fff;
      opacity: 0;
    }
  }
  @keyframes h3-effect-even { 
    25% {
        text-shadow: 0 0 15px #fff;      
      }   
    60% {
      text-shadow: 0 0 40px #fff;       
    }
    to {
      transform:            
        translate3d(288px,-128px,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 40px #fff;
      opacity: 0;
    }
  }

/* /// FHD /// */
@media screen and (min-width:1550px) {

    article#content {width:1300px; }
    #tab a {
        display:flex;
        justify-content:center;
        align-items:center;
        width:650px; height:80px;
        margin: 100px 0 40px;
        font-family:'pl-b'; font-size:18px;
        text-transform:uppercase;
    }
    #tab li:nth-child(1) a{
        color:#999;
        border:1px solid #ccc; 
    }
    #tab li:nth-child(2) a{
        color:#0054a6;
        border:1px solid #0054a6;
    }

    #sec-title {
        position:relative;
        width:1300px; height:650px;
        text-align: center;
        color:rgba(255,255,255,0.6);
        background:#000;
        overflow:hidden;
    }
    #sec-title img {max-width:100%; position:relative; opacity:1; transition:all 0.4s ease-in;}
    #sec-title figcaption {
        position:absolute; top:275px; left:50%;
        transform:translateX(-50%);
    }
    #sec-title h5 {
        width: 1100px;
        font-family:'tm-b'; font-size:72px;
        line-height: 60px;
    }
    #sec-title p {
        padding-top:40px;
        font-family:'gs-l'; font-size:18px;
    }
    #sec-title:hover img{
        opacity: 0.35;
        transform: scale(1.15);
      }
    #at-box {
        height:470px; 
        margin-bottom:100px;
        padding-top:90px;
        color:#fff; text-align:center;
        background:#2e4356;
    }
    #at-box h6{
        padding-bottom:10px;
        font-family:'tm-b'; font-size:48px;
        line-height:48px;
    }
    #at-box p{
        width:1100px; margin:0 auto;
        padding-top:30px;
        line-height:24px;
    }
    #articleDeco{
        width:1200px; height:200px;
        margin-left:100px;
        background:#ededed;
    }
    #gbox{position: relative;}
    #guide {
        position:absolute;
        top:-160px; left:0; width:650px; height:450px;
        padding-top:140px; padding-left:100px;
        font-family:'tm-b'; font-size:52px; line-height:60px;
        color:#fff; text-transform:uppercase;
        background:url(../imgs/sub1-knew1.jpg)no-repeat center;
        background-size:cover;
    }
    
    .table {
        float:right;
        width:500px; 
        margin:50px 100px 50px 0;
        border-top:2px solid #303030;
    }
    .table li {width:500px; border-bottom:1px solid #b7b7b7;}
    .table li b {
        float: left;
        width:110px; padding:30px 20px;
        font-family:'gs-m'; font-size:20px;
        color: #3977b7;
    }
    .table li p {
        display:block;
        float:right;
        width:330px; padding:30px 5px 30px 60px;
        font-family:'scd-2'; font-size:15px; line-height: 30px;
        color:#666;
    }

}


/* /// HD /// */
@media screen and (min-width:1050px) and (max-width:1549px) {


    article#content {width:940px; }
    #tab a {
        display:flex;
        justify-content:center;
        align-items:center;
        width:470px; height:80px;
        margin: 60px 0 40px;
        font-family:'pl-b'; font-size:18px;
        text-transform:uppercase;

    }
    
    #tab li:nth-child(1) a{
        color:#999;
        border:1px solid #ccc; 
    }
    #tab li:nth-child(2) a{
        color:#0054a6;
        border:1px solid #0054a6;
    }
    #sec-title {
        position:relative;
        width:940px; height:600px;
        text-align:center;
        color:rgba(255,255,255,0.6);
        background:#000;
        overflow:hidden;
    }
    #sec-title img {max-height:100%; position:relative; left:-13%; opacity:1; transition:all 0.4s ease-in;}
    #sec-title figcaption {
        position:absolute; top:240px; left:50%;
        transform:translateX(-50%);
    }
    #sec-title h5 {
        width:900px;
        font-family:'tm-b'; font-size:60px;
        line-height: 60px;
    }
    #sec-title p {
        padding-top:40px;
        font-family:'gs-l'; font-size:18px;
    }
    #sec-title:hover img{
        opacity: 0.35;
        transform: scale(1.15);
      }
    #at-box {
        height:430px; 
        margin-bottom:70px;
        padding-top:70px;
        color:#fff; 
        background:#2e4356;
    }
    #at-box h6{
        font-family:'tm-b'; font-size:38px; text-align:center;
        line-height:38px;
    }
    #at-box p{
        width:800px; margin:0 auto;
        padding-top:30px;
        line-height:24px;
    }
    #articleDeco{display:none;}

    #guide {
        width:940px; height:300px;
        padding-top:70px; padding-left:100px;
        font-family:'tm-b'; font-size:42px; line-height:52px;
        color:#fff; text-transform:uppercase;
        background:url(../imgs/sub1-knew1.jpg)no-repeat center;
        background-size: cover;
    }
    .table {
        width:940px; 
        margin-top:30px;
        border-top:2px solid #303030;
    }
    .table li {width:940px; border-bottom:1px solid #b7b7b7;}
    .table li b {
        float: left;
        width:450px; padding:30px 150px;
        font-family:'gs-m'; font-size:18px; text-align:right;
        color: #3977b7;
    }
    .table li p {
        display:block;
        float:left;
        width:330px; padding:30px;
        font-family:'scd-2'; font-size:15px; line-height: 24px;
        color:#666;
    }

    
}


/* /// TABLET /// */
@media screen and (min-width:650px) and (max-width:1049px) {

    /* common 수정 */
    .topbn h3 { width:440px; }
   
    #tab {width:93%; margin:0 auto;}
    #tab li{width: 50%; min-width:245px; margin: 40px auto;}
    #tab a {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: nowrap;
        height:60px;
        font-family:'pl-b'; font-size:16px;
        text-transform:uppercase;
    }

    #tab li:nth-child(1) a{
        color:#999;
        border:1px solid #ccc;
    }
    #tab li:nth-child(2) a{
        color:#0054a6;
        border:1px solid #0054a6;
    }

    #sec-title {
        position:relative;
        width:94%; height:400px;
        margin:0 auto;
        text-align:center;
        color:rgba(255,255,255,0.8);
        background:#000;
        overflow:hidden;
    }
    #sec-title img {
        position:relative; object-fit:contain;  top:-100px; left:-200px; opacity:1; transition:all 0.4s ease-in;
    }
    #sec-title figcaption {
        position:absolute; top:160px; left:50%;
        transform:translateX(-50%);
    }
    #sec-title h5 {
        width:600px;
        font-family:'tm-b'; font-size:42px;
        line-height: 60px;
    }
    #sec-title p {
        padding-top:30px;
        font-family:'gs-l'; font-size:15px;
    }
    #sec-title:hover img{
        opacity: 0.35;
        transform: scale(1.15);
      }
    #at-box {
        width:94%; height:400px; 
        margin:0 auto;
        padding-top:50px;
        color:#fff; 
        background:#2e4356;
    }
    #at-box h6{
        width:600px;
        margin:0 auto; 
        font-family:'tm-b'; font-size:34px; text-align:center;
        line-height:34px;
    }
    #at-box p {
        width:560px; margin:0 auto;
        padding-top:20px; font-size:14px;
        line-height:20px;
    }
    #articleDeco{display:none;}
    #gbox{margin-top:50px;}
    #guide {
        width:94%; height:220px;
        padding-top:40px; padding-left:105px;
        margin:0 auto 30px;
        font-family:'tm-b'; font-size:34px; line-height:48px;
        color:#fff; text-transform:uppercase;
        background:url(../imgs/sub1-knew1.jpg)no-repeat center;
        background-size: cover;
    }
    .table {
        width:94%; 
        margin:0 auto; 
        border-top:2px solid #303030;
    }
    .table li {width:100%; border-bottom:1px solid #b7b7b7;}
    .table li b {
        float: left;
        width:42%; padding:30px 50px;
        font-family:'gs-m'; font-size:18px; 
        line-height:30px;
        text-align:right;
        color: #3977b7;
    }
    .table li p {
        display:block;
        float:left;
        width:58%; padding:30px 40px;
        font-family:'scd-2'; font-size:15px; line-height: 24px;
        color:#666;
    }

    
}


/* /// MOBILE /// */
@media screen and (min-width:360px) and (max-width:649px) {

    /* common 수정 */
    .topbn h3 { width:320px; }

    #tab {width:94%; margin:0 auto;}
    #tab li{width: 50%; min-width:160px; margin: 20px auto;}
    #tab a {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: nowrap;
        height:60px;
        font-family:'pl-b'; font-size:14px;
        text-transform:uppercase;
    }
    #tab li:nth-child(1) a{
        color:#999;
        border:1px solid #ccc;
    }
    #tab li:nth-child(2) a{
        color:#0054a6;
        border:1px solid #0054a6;
    }

    #sec-title {
        position:relative;
        width:100%; height:300px;
        text-align:center;
        color:rgba(255,255,255,0.8);
        background:#000;
        overflow:hidden;
    }
    #sec-title img {
        position:relative; object-fit:contain;  top:-300px; left:-300px; opacity:1; transition:all 0.4s ease-in;
    }
    #sec-title figcaption {
        position:absolute; top:90px; left:50%;
        transform:translateX(-50%);
    }
    #sec-title h5 {
        width:220px; 
        font-family:'tm-b'; font-size:36px;
        line-height: 36px;
    }
    #sec-title p {
        width:220px; 
        padding-top:20px;
        font-family:'gs-l'; font-size:14px; line-height:18px;
    }
    #sec-title:hover img{
        opacity: 0.35;
        transform: scale(1.15);
      }
    #at-box {
        height:465px;  
        margin-bottom:20px;
        padding-top:40px;
        color:#fff; 
        background:#2e4356;
    }
    #at-box h6 {
        width:320px;
        margin:0 auto; 
        font-family:'tm-b'; font-size:24px; 
        line-height:24px;
    }
    #at-box p{
        width:320px; margin:0 auto;
        padding-top:15px;
        font-size:14px;
        line-height:18px;
    }
    #articleDeco{display:none;}

    #guide {
        width:94%; height:150px;
        padding-top:35px; padding-left:50px;
        margin:0 auto 20px;
        font-family:'tm-b'; font-size:24px; line-height:30px; letter-spacing:0;
        color:#fff; text-transform:uppercase;
        background:url(../imgs/sub1-knew1.jpg)no-repeat center;
        background-size: cover;
    }
    .table {
        width:94%; 
        margin:0 auto;
        border-top:2px solid #303030;
    }
    .table li {width:100%; border-bottom:1px solid #b7b7b7;}
    .table li b {
        float: left;
        width:35%; padding:20px;
        font-family:'gs-m'; font-size:16px; 
        line-height:30px;
        text-align:right;
        color: #3977b7;
    }
    .table li p {
        display:block;
        float:left;
        width:48%; padding:20px 10px;
        font-family:'scd-2'; font-size:15px; line-height: 30px;
        color:#666;
    }
    
}


/* /// 320 디바이스 체크 /// */
@media screen and (min-width:320px) and (max-width:359px){

    /* common 수정 */
    .topbn h3 { width:300px; }

    #tab {width:94%; margin:0 auto;}
    #tab li{width: 50%; min-width:100px; margin: 20px auto;}
    #tab a {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: nowrap;
        height:60px;
        font-family:'pl-b'; font-size:14px;
        text-transform:uppercase;
    }
    #tab li:nth-child(1) a{
        color:#999;
        border:1px solid #ccc;
    }
    #tab li:nth-child(2) a{
        color:#0054a6;
        border:1px solid #0054a6;
    }

    #sec-title {
        position:relative;
        width:100%; height:300px;
        text-align:center;
        color:rgba(255,255,255,0.8);
        background:#000;
        overflow:hidden;
    }
    #sec-title img {
        position:relative; object-fit:contain;  top:-300px; left:-300px; opacity:1; transition:all 0.4s ease-in;
    }
    #sec-title figcaption {
        position:absolute; top:90px; left:50%;
        transform:translateX(-50%);
    }
    #sec-title h5 {
        width:220px; 
        font-family:'tm-b'; font-size:36px;
        line-height: 36px;
    }
    #sec-title p {
        width:220px; 
        padding-top:20px;
        font-family:'gs-l'; font-size:14px; line-height:18px;
    }
    #sec-title:hover img{
        opacity: 0.35;
        transform: scale(1.15);
      }
    #at-box {
        height:465px;  
        margin-bottom:20px;
        padding-top:40px;
        color:#fff; 
        background:#2e4356;
    }
    #at-box h6 {
        width:320px; 
        margin:0 auto; 
        font-family:'tm-b'; font-size:24px; 
        line-height:24px;
    }
    #at-box p{
        width:320px; margin:0 auto;
        padding-top:15px;
        font-size:14px;
        line-height:18px;
    }
    #articleDeco{display:none;}

    #guide {
        width:94%; height:150px;
        padding-top:35px; padding-left:50px;
        margin:0 auto 20px;
        font-family:'tm-b'; font-size:24px; line-height:30px; letter-spacing:0;
        color:#fff; text-transform:uppercase;
        background:url(../imgs/sub1-knew1.jpg)no-repeat center;
        background-size: cover;
    }
    .table {
        width:94%; 
        margin:0 auto;
        border-top:2px solid #303030;
    }
    .table li {width:100%; border-bottom:1px solid #b7b7b7;}
    .table li b {
        float: left;
        width:35%; padding:20px;
        font-family:'gs-m'; font-size:16px; 
        line-height:30px;
        text-align:right;
        color: #3977b7;
    }
    .table li p {
        display:block;
        float:left;
        width:48%; padding:20px 10px;
        font-family:'scd-2'; font-size:15px; line-height: 30px;
        color:#666;
    }
    
}

@media screen and (max-width:319px) {

    /* common 수정 */    
    .topbn h3 { width:260px; }

    #tab {width:94%; margin:0 auto;}
    #tab li{width: 50%; min-width:100px; margin: 20px auto;}
    #tab a {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: nowrap;
        height:60px;
        font-family:'pl-b'; font-size:14px;
        text-transform:uppercase;
    }
    #tab li:nth-child(1) a{
        color:#999;
        border:1px solid #ccc;
    }
    #tab li:nth-child(2) a{
        color:#0054a6;
        border:1px solid #0054a6;
    }

    #sec-title {
        position:relative;
        width:100%; height:300px;
        text-align:center;
        color:rgba(255,255,255,0.8);
        background:#000;
        overflow:hidden;
    }
    #sec-title img {
        position:relative; object-fit:contain;  top:-300px; left:-300px; opacity:1; transition:all 0.4s ease-in;
    }
    #sec-title figcaption {
        position:absolute; top:90px; left:50%;
        transform:translateX(-50%);
    }
    #sec-title h5 {
        width:220px; 
        font-family:'tm-b'; font-size:36px;
        line-height: 36px;
    }
    #sec-title p {
        width:220px; 
        padding-top:20px;
        font-family:'gs-l'; font-size:14px; line-height:18px;
    }
    #sec-title:hover img{
        opacity: 0.35;
        transform: scale(1.15);
      }
    #at-box {
        margin-bottom:20px;
        padding:40px 0;
        color:#fff; 
        background:#2e4356;
    }
    #at-box h6 {
        width:270px; 
        margin:0 auto; 
        font-family:'tm-b'; font-size:24px; 
        line-height:24px;
    }
    #at-box p{
        width:270px; margin:0 auto;
        padding-top:15px;
        font-size:14px;
        line-height:18px;
    }
    #articleDeco{display:none;}

    #guide {
        width:94%; height:150px;
        padding-top:35px; padding-left:50px;
        margin:0 auto 20px;
        font-family:'tm-b'; font-size:24px; line-height:30px; letter-spacing:0;
        color:#fff; text-transform:uppercase;
        background:url(../imgs/sub1-knew1.jpg)no-repeat center;
        background-size: cover;
    }
    .table {
        width:94%; 
        margin:0 auto;
        border-top:2px solid #303030;
    }
    .table li {width:100%; border-bottom:1px solid #b7b7b7;}
    .table li b {
        float: left;
        width:35%; padding:20px;
        font-family:'gs-m'; font-size:16px; 
        line-height:30px;
        text-align:right;
        color: #3977b7;
    }
    .table li p {
        display:block;
        float:left;
        width:48%; padding:20px 10px;
        font-family:'scd-2'; font-size:15px; line-height: 30px;
        color:#666;
    }
    
}